* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

li {
    list-style-type: none;
}

.main-article-date-time-svg {
    fill: #fff;
}

.main-article-date-time-svg-black {
    fill: #000;
}

.white {
    color: #fff;
}

.dark {
    background-color: #302C2C;
}

.container {
    width: 95.733%;
    margin: auto;
}

body {
    background-color: #F4F4F4;
}

.search-bar,
.header-btn__soc {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    border-radius: 10px;
    margin-top: 8px;
}

.main-article {
    background-color: #fff;
    padding: 12px 0 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-bottom: 8px;
}

.main-article-banner {
    width: 96.55%;
    height: 220px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.article-header-banner {
    background-color: #9C9CFF;
}

.article-tags-banner {
    background-color: #e3e3e3;
    height: 182px;
}


.main-article-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 140%;
    width: 47.955%;
    min-width: 159px;
}

.article-header {
    height: 438px;
}

.main-article-text-headers {
    margin: 12px 0;
}

.main-article-text-headers h2 {
    font-size: 24px;
    line-height: 24px;
}

.main-article-text-par {
    font-size: 18px;
    line-height: 120%;
}

.article-tags {
    height: 504px;
}

.main-article-tags-ul {
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-article-tags-ul li a {
    display: flex;
    text-decoration: none;
    color: #000;
    /* width: 96.314%; */
}

.main-article-tags-ul li:nth-child(2) {
    margin: 8px 0;
}

.main-article-tag-image {
    width: 23.32%;
    height: 72px;
    margin-right: .5em;
    background-color: #e3e3e3;
    border-radius: 10px;
}

.main-article-date-time {
    display: flex;
    justify-content: space-between;
    width: 27.955%;
    min-width: 67px;
}

.date-large  .main-article-date-time {
    width: 38%;
}

.tag-text-header {
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    background-color: #93ff82;
    font-weight: bold;
    padding: 4px 8px;
    border: 0;
    border-radius: 6px;
}

.main-article-tag-text p {
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
}

.main-article-tag-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.article-vertical-banner {
    background-color: #EA2E34;
    height: 240px;
}

.article-vertical {
    background-color: #000000;
}

.article-vertical-date {
    color: #fff;
}

.article-vertical {
    height: 363px;
}

.main-article-text-headers-small h2 {
    font-size: 20px;
    line-height: 20px;
}

.article-full {
    padding: 0;
    background-color: #F4F4F4;
}

.article-full-banner {
    width: 100%;
    background-color: #FFC7F3;
    height: 281px;
    margin-bottom: 0;
}

.article-full-banner-text {
    padding: 12px 0 0 12px;
    border-radius: 10px;
    background-color: #fff;
    height: 111px;
}

.main-article-text-headers-large {
    font-weight: bolder;
    font-size: 36px;
    line-height: 110%;
}

.article-full-banner-text-large {
    padding: 12px 0 0 12px;
    color: #fff;
    border-radius: 10px;
    min-height: 292px;
    max-height: 340px;
}

.text-par-half {
    width: 50%;
    margin-bottom: 12px;
}

.article-test {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    padding: 0;
}

.article-test-image {
    width: 86px;
    height: 86px;
    background-color: #93FF82;
    border-radius: 10px;
}

.article-test-tag {
    background: #EA2E34;
    padding: 4px 12px;
    border-radius: 20px;
    width: 24px;
    height: 86px;
    writing-mode: tb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: rotate(180deg);
}

.article-test-text {
    width: 100%;
    height: 86px;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    padding: 12px;
}

.article-test-text p {
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
}


/* ---------------------------- */

.search-tags {
    height: 452px;
    justify-content: flex-start;
}

.search-tags-ul {
    height: 100%;
    padding-top: 10px;
}

.search-tags-btn {
    background-color: #EEF1F8;
    border: 1px solid #000;
}

.article-read-also {
    background-color: #444444;
    padding: 0 8px;
    margin-top: 28px;
}

.main-read-also-banner {
    width: 83px;
    height: 83px;
    background-color: #BEBEBE;
    border-radius: 6px;
}

.main-read-also-header {
    width: 264px;
}

.main-read-also-header h4 {
    font-size: 20px;
    margin-bottom: 8px;
}

.main-read-also {
    display: flex;
}

.read-also-state {
    margin-bottom: 16px;
}


/* _________________________ */

.article-header-pages {
    background-color: #E3E3E3;
    padding: 0;
}

.pages-soc-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pages-soc {
    height: 69px;
    margin-bottom: 16px;
}

.pages-repost-btn {
    width: 69px;
    background-color: #fff;
    border: 0;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    margin-right: 4px;
}

.pages-text {
    width: 97.777%;
}

.pages-text-par {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    padding-right: 8px;
    margin: auto;
    margin-bottom: 20px;
}

.pages-text-par:last-child {
    margin-bottom: 24px;
}

.pages-quote {
    width: 84.43%;
    margin: 40px auto;
}

.pages-quote-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    font-style: italic;
}



.main-pages-banner {
    margin: auto;
}

.pages-banner-text {
    color: #fff;
    background-color: #9C9CFF;
    border-radius: 10px;
    padding: 16px 0 16px 16px;

}

.pages-banner-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 110%;
}

.pages-footnote {
    width: 95.55%;
    display: flex;
    padding-top: 4px;
    align-items: center;
    margin-bottom: 24px;
}

.pages-footnote-text {
    font-weight: 600;
    font-size: 25px;
    line-height: 110%;
}

.footnote {
    min-width: 8px;
    min-height: 160px;
    height: 168px;
    background-color: #9C9CFF;
    margin-right: 8px;
    border-radius: 10px;
}

.pages-banner-img {
    background-color: #E3E3E3;
    height: 203px;
    border-radius: 10px;
}

.large-banner {
    width: 100%;
    margin-bottom: 24px;
}

.pages-card {
    width: 87.47%;
    margin: auto;
}

.card {
    background-color: #000;
    height: 334px;
    border-radius: 10px;
    color: #fff;
    padding: 16px 16px 20px;
    margin-bottom: 24px;
}


.card-header {
    font-weight: 800;
    font-size: 18px;
    line-height: 110%;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.card-img {
    border-radius: 100px;
    width: 96px;
    height: 96px;
    background-color: #93FF82;
}

.card-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.card-text-name {
    font-weight: 800;
    font-size: 24px;
    line-height: 110%;
    color: #9C9CFF;
    padding-bottom: 8px;
}

.card-text-par {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
}

.misstake-banner {
    width: 97.777%;
    background-color: #fff;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 52px;
}

#combination {
    background-color: #9c9cff;
    color: #fff;
    border-radius: 10px;
    padding: 3px;
}

.pages-btn-tag {
    width: 44.6%;
    height: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    background-color: #fff;
    border: 2px solid #808080;
    color: #808080;
    border-radius: 10px;
}

.pages-tags {
    display: flex;
    flex-wrap: wrap;
}

.pages-btn-tag {
    margin: 0 16px 16px 0;
    transition: ease .3s;
    text-transform: uppercase;
}

.pages-btn-tag:hover {
    background-color: #000;
    color: #fff;
    border: none;
}

.main-pages-banner {
    margin-bottom: 24px;
}

.main-article-text-headers-small p {
    display: none;
}

.swiper {
    height: 202px;
    width: 100%;
}

.slider {
    margin-bottom: 24px;
}

.swiper-slide {
    border-radius: 10px;
    background-color: #EA2E34;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50px;
}

.swiper-button-next {
    transform: rotate(180deg);
}

.slider-pag {
    max-width: 64px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.3);
    left: 50% !important;
    border-radius: 12px;
    transform: translate(-50%, 0);
}

.slider-pag span {
    background-color: #fff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: none;
}

.swiper2 {
    display: none;
}

.main-article-text {
    display: none;
}

.text-black {
    color: #000;
}

@media only screen and (min-width: 766px) {
    body {
        background: #F4F4F4;
    }

    .main-article-date {
        display: none;
    }

    .tablet-row {
        flex-direction: row;
    }

    .article-tags {
        height: 328px;
    }

    .main-article-tag-image {
        width: 26.46%;
    }

    .main-article-tags-ul {
        justify-content: space-between;
        height: 92.2%;
    }

    .article-tags-banner {
        height: 228px;
    }

    .tablet-banner {
        width: 48.133%;
    }

    .article-fulls {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        margin-top: 24px;
    }

    .article-full {
        margin-bottom: 16px;
        width: 48.83%;
    }

    .article-header-pages {
        width: 61.755%;
    }

    .pages-soc {
        width: 50.6%;
    }

    .pages-text {
        width: 50.6%;
    }

    .pages-banner-text {
        font-size: 36px;
    }

    .pages-banner-img {
        height: 417px;
    }

    .footnote {
        height: 82px;
        min-height: 50px;
    }

    .misstake-banner p {
        width: 64.3%;
        margin: auto;
        text-align: center;
    }

    .pages-btn-tag {
        width: 21.77%;
    }

    .card-header {
        font-size: 24px;
    }

    .pages-card {
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 213px;
        min-height: auto;
    }

    .card-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .card-text {
        width: 81.91%;
        text-align: left;
    }

    .wrapper-main-article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .article-vertical {
        width: 48.84%;
    }

    .swiper {
        height: 387px;
        width: 100%;
    }

    .slider {
        margin-bottom: 24px;
    }

    .swiper-slide {
        background-color: #EA2E34;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 36px;
        height: 36px;
        background-color: #fff;
        border-radius: 50px;
    }

    .swiper-button-next {
        transform: rotate(180deg);
    }

    .slider-pag {
        max-width: 64px;
        height: 24px;
        background-color: rgba(255, 255, 255, 0.3);
        left: 50% !important;
        border-radius: 12px;
        transform: translate(-50%, 0);
    }

    .slider-pag span {
        background-color: #fff;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        content: none;
    }

    .container {
        width: 100%;
        padding: 0 16px;
    }

    /* _____________________________  main*/

    #first-header h2 {
        font-weight: 800;
        font-size: 36px;
        line-height: 100%;
    }

    .main-article-text-headers h2 {
        font-size: 20px;
        font-weight: 700;
    }

    .article-header-banner {
        height: 364px;
    }

    #first-par {
        display: none;
    }

    .tablet-date {
        display: flex;
    }

    .cards-swiper {
        background: none
    }

    .article-vertical {
        width: 100%;
    }

    .wrapper-article-vertical {
        margin-top: 24px;
        overflow-x: hidden;
    }

    .swiper2 {
        display: block;
    }

    .no-slider {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        background-color: #F4F4F4;
    }

    .no-slider {
        display: flex;
    }

    .swiper2 {
        display: none;
    }

    .container {
        width: 97.777%;
    }

    .wrapper-header-soc {
        display: flex;
        flex-direction: row;
    }

    .pages-soc {
        width: 29px;
        height: 340px;
    }


    .slider {
        margin: 40px 0;
    }

    .swiper {
        width: 61.081%;
        height: 494px;
        margin: 0;
    }

    .swiper-slide {
        background-color: #EA2E34;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 36px;
        height: 36px;
        background-color: #fff;
        border-radius: 50px;
    }

    .swiper-button-next {
        transform: rotate(180deg);
    }

    .slider-pag {
        max-width: 64px;
        height: 24px;
        background-color: rgba(255, 255, 255, 0.3);
        left: 50% !important;
        border-radius: 12px;
        transform: translate(-50%, 0);
    }

    .slider-pag span {
        background-color: #fff;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        content: none;
    }

    .pages-soc {
        display: none;
    }

    .article-header-pages {
        width: 61.08%;
        margin-top: 16px;
    }

    .pages-text {
        width: 61.08%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .pages-text-par {
        width: 80.7%;
        margin: 24px 0 40px;
        padding-right: 0;
        font-size: 18px;
    }

    .pages-quote {
        margin: 0;
        width: 58.24%;
        display: flex;
        justify-content: flex-end;
    }

    .pages-quote-text {
        padding: 16px 24px;
    }

    .main-pages-banner {
        margin: 40px 0;
    }

    .pages-card {
        width: 61.081%;
        margin: 0;
    }

    .card-text {
        width: 85.645%;
    }

    .misstake-banner {
        width: 32.671%;
        padding: 12px 15px;
        display: flex;
        justify-content: flex-end;
    }

    .misstake-banner p {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        width: 100%;
        line-height: 140%;
    }

    .pages-tags {
        margin-bottom: 40px;
    }

    .pages-btn-tag {
        width: 11.364%;
    }

    .article-vertical {
        flex-direction: row-reverse;
        height: 360px;
        padding: 0;
        width: 66.2%;
        justify-content: space-between;
    }

    .main-article-date {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    .main-article-date-time {
        justify-content: flex-start;
        margin-left: 13px;
    }

    .article-vertical-banner {
        height: 360px;
        width: 50.7%;
    }

    .wrapper-vertical-banner {
        width: 49.3%;
        padding: 16px 52px 16px 16px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .main-article-text-headers-small h2 {
        font-weight: 800;
        font-size: 36px;
        line-height: 110%;
    }

    .main-article-text-headers-small p {
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        padding-top: 43px;
    }

    .wrapper-header-dp {
        display: flex;
        justify-content: space-around;
    }

    .news {
        width: 22.8%;
        height: 496px;
        background-color: #444444;
    }

    .desktop-tags {
        order: -1;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        height: 496px;
        justify-content: flex-start;
        width: 22.8%;
    }

    .article-header .main-article-date {
        display: none;
    }

    .article-header {
        width: 50%;
        height: 496px;
    }

    .article-header {
        padding: 12px 12px 0;
        justify-content: flex-start;
    }

    .article-header-banner {
        width: 100%;
    }

    .desktop-tags .article-tags-banner {
        width: 100%;
        height: 182px;
        margin-bottom: 4px;
    }

    .main-article-text-headers {
        font-weight: 800;
        font-size: 18px;
        line-height: 110%;
        margin: 0 0 12px 0;
    }

    .tablet-banner {
        width: 100%;
    }

    .main-article-tag-text {
        width: 79.58%;
    }

    .container {
        width: 100%;
    }

    .no-slider {
        flex-direction: column;
        justify-content: space-between;
        width: 32.68%;
        height: 720px;
    }

    .no-slider .article-vertical-banner {
        width: 100%;
        height: 360x;
    }

    .no-slider .tablet-date {
        order: 1;
        padding: 16px;
    }

    .main-article-text-headers {
        padding: 16px;
    }

    .main-article-text {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        padding-left: 16px;
        line-height: 120%;
    }

    .wrapper-article-vertical {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .desktop-fulls {
        width: 66.2%;
    }

    .desktop-fulls .article-full {
        width: 100%;
        flex-direction: row;
        height: 360px;
    }

    .desktop-fulls .article-full .article-full-banner {
        height: 100%;
    }

    .desktop-fulls .article-full .article-full-banner-text {
        width: 96.2%;
        height: 100%;
        padding: 0;
    }

    .text-black {
        color: #000;
    }

    .desktop-fulls .article-full-banner-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .desktop-fulls .tablet-date {
        order: 1;
        padding: 0 0 16px 16px;
    }

    .desktop-fulls .article-full:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .full-row {
        width: 100%;
    }

    .full-row .article-full {
        height: 560px;
    }

    .full-row .article-full-banner {
        width: 76.75%;
    }

    .full-row .dark {
        height: 100%;
        width: 37.122%;
        max-height: none;
        padding: 24px 0 24px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }

    .full-row .main-article-text-headers-large {
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 110%;
        padding: 0;
        width: 69.3%;
    }

    .full-row .tablet-date {
        padding: 0;
    }
}